html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  margin:0;
  padding:0;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  height: calc(100% - 100px);
  width: 100%;
}

.header {
  height: 100px;
  display: flex;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

img.logo {
  padding-left: 15px;
  padding-right: 15px;
}

.title-slider {
  flex-grow: 2
}

.slider {
  width: 150px;
  margin-right: 15px;
}
